<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>card Validation</title>
        <link rel="stylesheet" href="/dist/css/main.css">
        <script src="/dist/js/main.js"></script>
    </head>
    
    <body id="cardValidation" class="fb fb__cardValidation">
        <section class="card__wrapper">
            <h2 class="fb__title">Check Your Card Number</h2>

            <main class="card__cont">
                <div class="card__input">
                    <input type="text" name="no1" maxlength="4">
                    <input type="text" name="no2" maxlength="4">
                    <input type="text" name="no3" maxlength="4">
                    <input type="text" name="no4" maxlength="4">
                </div>

                <button class="card__check js__card__validation">Check</button>
            </main>
        </section>
    </body>
</html>