<!DOCTYPE html>
<html>
    <head>
        <title>JOANNA SHIN CODEPEN</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
        <link rel="stylesheet" href="/dist/css/main.css">
        <script src="/dist/js/main.js"></script>
    </head>

    <body id="main" class="fb">
        <section class="fb__main">
            <header class="fb__main__top">
                <h2 class="fb__main__title">Personal Projects</h2>
                <button class="fb__main__menu js__layer__open" data-layer="js__navigation">메뉴</button>
            </header>

            <main class="fb__main__cont">
                <form class="fb__main__search">
                    <label class="search__wrapper">
                        <input type="text" class="search__input js__pen__autoComplete" autofocus placeholder="검색할 PEN의 이름을 입력해주세요.">
                        <button type="submit" class="search__button js__pen__submit">검색</button>
                    </label>
                </form>
    
                <div class="fb__main__pens listType">
                    <ul class="pens__wrapper">
                        <li class="pens__box js__pen show" data-pen="weather">
                            <a href="https://weatherapp-145c6.web.app/" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/weather.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2021</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    모바일 날씨확인
                                </strong>
                            </a>
                        </li>
    
                        <li class="pens__box js__pen show" data-pen="todoApp">
                            <a href="https://todoApp-145c6.web.app/" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/todo.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2021</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    일정관리
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="library">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/library/pc/index.php" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/library.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2019</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    도서 대여관리 시스템 (DB)
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="blog">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/blog/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/blog.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2018</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    개인 블로그
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="monsterHotel">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/monsterHotel/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/monsterHotel.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2018</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    몬스터호텔 (애니메이션 주제)
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="canon">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/CANON/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/canon.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2018</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    CANON
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="maserati">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/maserati/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/maserati.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2018</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    Maserati
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="calendar">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/calendar/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/calendar.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button">경력기술</button>
                                        <time class="pens__layer__date">2018</time>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    달력
                                </strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </main>

            <!-- 소스레이어 -->
            <article id="sourceLayer" class="fb__sourceLayer js__layer">
                <div class="fb__sourceLayer__inner">
                    <header class="fb__sourceLayer__top">
                        <h3 class="fb__sourceLayer__title">소스보기</h3>
                        <button class="fb__sourceLayer__close js__layer__close">닫기</button>
                    </header>
    
                    <ul class="fb__sourceLayer__cont">
                        <li id="findAddress" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="전세계 주소 자동완성(loqate)" src="https://codepen.io/joannashin3/embed/preview/QWvyGPN?defaultTab=html" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/QWvyGPN">
                                전세계 주소 자동완성(loqate)</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>
                    </ul>
                </div>
            </article>

            <!-- 네비게이션 -->
            <aside id="js__navigation" class="fb__navigation js__layer">
                <header class="fb__navigation__top">
                    <h3 class="fb__navigation__title">Menus</h3>
                    <button class="fb__navigation__close js__layer__close">close</button>
                </header>
                <ul class="fb__navigation__cont">
                    <li class="fb__navigation__menu">
                        <a href="/" class="fb__navigation__link">
                            <span class="fb__navigation__name">Projects</span>
                        </a>
                    </li>

                    <li class="fb__navigation__menu">
                        <a href="/views/personal/personal.html" class="fb__navigation__link">
                            <span class="fb__navigation__name">Personal Project</span>
                        </a>
                    </li>

                    <li class="fb__navigation__menu">
                        <a href="/views/works/works.html" class="fb__navigation__link">
                            <span class="fb__navigation__name">Codepen</span>
                        </a>
                    </li>

                    <li class="fb__navigation__menu">
                        <a href="/views/contact/contact.html" class="fb__navigation__link">
                            <span class="fb__navigation__name">Contact</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </section>
    </body>
</html> 