.fb {
    &__cardValidation {
        width: 100%;
        height: 100%;
        background: $pcolor;

        .fb__title {
            margin-bottom: 60px;
        }

        .card {
            &__wrapper {
                display: block;
                width: 800px;
                margin: 0 auto;
                padding: 120px 0;
                text-align: center;
            }

            &__cont {
                padding: 100px 50px;
                background: rgba(242, 185, 75, 0.9);
                
            }

            &__input {
                font-size: 0;

                input {
                    display: inline-block;
                    width: 25%;
                    height: 60px;
                    @include fontcss($black, 600, 22px);
                    text-align: center;
                }
            }

            &__check {
                display: inline-block;
                margin-top: 40px;
                padding: 12px 30px;
                background: $black;
                @include fontcss($white, 600, 20px);
            }
        }
    }
}