<!DOCTYPE html>
<html>
    <head>
        <title>JOANNA SHIN CODEPEN</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
        <link rel="stylesheet" href="/dist/css/main.css">
        <script src="/dist/js/main.js"></script>
    </head>

    <body id="main" class="fb">
        <section class="fb__main">
            <header class="fb__main__top">
                <h2 class="fb__main__title">Works</h2>
                <button class="fb__main__menu js__layer__open" data-layer="js__navigation">메뉴</button>
            </header>

            <main class="fb__main__cont">
                <form class="fb__main__search">
                    <label class="search__wrapper">
                        <input type="text" class="search__input js__pen__autoComplete" autofocus placeholder="검색할 PEN의 이름을 입력해주세요.">
                        <button type="submit" class="search__button js__pen__submit">검색</button>
                    </label>
                </form>
    
                <div class="fb__main__pens listType">
                    <ul class="pens__wrapper">
                        <li class="pens__box js__pen show" data-pen="fileRotate">
                            <a href="/views/fileRotate/fileRotate.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/fileRotate.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    모바일 첨부파일 이미지 회전시키기<br>
                                    (다운로드 가능)
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="fileReader">
                            <a href="/views/fileReader/fileReader.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/fileReader.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    모바일 1:1 문의하기
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="filter">
                            <a href="/views/filter/filter.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/filter.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    모바일 상세필터
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="brandIndexer">
                            <a href="/views/brandIndexer/brandIndexer.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/brandIndexer.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                        모바일 브랜드 인덱서
                                </strong>
                            </a>
                        </li>
                        
                        <li class="pens__box js__pen show" data-pen="searchKeyword">
                            <a href="/views/searchKeyword/searchKeyword.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/searchKeyword.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    모바일 키워드로 검색하기
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="findAddress">
                            <a href="/views/loqate/findAddress.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/findAddress.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    전세계주소자동완성
                                </strong>
                            </a>
                        </li>

                        <!-- <li class="pens__box js__pen show" data-pen="photoReview">
                            <a href="/views/photoReview/photoReview.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/photoReview.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    PHOTO REVIEW
                                </strong>
                            </a>
                        </li> -->

                        <li class="pens__box js__pen show" data-pen="youtubePlayer">
                            <a href="/views/youtubePlayer/youtubePlayer.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/youtubePlayer.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    YOUTUBE PLAYER API
                                </strong>
                            </a>
                        </li>

                        <!-- <li class="pens__box js__pen show" data-pen="freeGift">
                            <a href="/views/freeGift/freeGift.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/freeGift.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    사은품
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="cardValidation">
                            <a href="/views/cardValidation/cardValidation.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/cardValidation.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    카드번호 유효성 검사
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="searchWordActive">
                            <a href="/views/subway/searchWordActive.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/searchWordActive.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    공지사항 (검색단어 효과주기)
                                </strong>
                            </a>
                        </li>
    
                        <li class="pens__box js__pen show" data-pen="subway">
                            <a href="/views/subway/subway.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb">
                                    <img src="/src/images/pens/subway.jpg" alt="">
                                    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
                                
                                <strong class="pens__name js__pen__name">
                                    지하철자동완성
                                </strong>
                            </a>
                        </li> -->

                        <li class="pens__box js__pen show" data-pen="shoppingCart">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/shoppingCart/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/shoppingCart.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    장바구니 기능 구현
                                </strong>
                            </a>
                        </li>

                        <li class="pens__box js__pen show" data-pen="idValidation">
                            <a href="http://www.fact119.com/c8/st18/PORTFOLIO/idcheck/" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/idValidation.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    주민번호 유효성 검사
                                </strong>
                            </a>
                        </li>
                       
                        <li class="pens__box js__pen show" data-pen="buttonDesign">
                            <a href="/views/buttonDesign/buttonDesign.html" class="pens__link" target="_blank">
                                <figure class="pens__thumb noAnimation">
                                    <img src="/src/images/pens/buttonDesign.jpg" alt="">
    
                                    <div class="pens__layer">
                                        <button class="pens__layer__button point js__layer__open">소스보기</button>
                                    </div>
                                </figure>
    
                                <strong class="pens__name js__pen__name">
                                    다양한 버튼 CSS
                                </strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </main>

            <!-- 소스레이어 -->
            <article id="sourceLayer" class="fb__sourceLayer js__layer">
                <div class="fb__sourceLayer__inner">
                    <header class="fb__sourceLayer__top">
                        <h3 class="fb__sourceLayer__title">소스보기</h3>
                        <button class="fb__sourceLayer__close js__layer__close">닫기</button>
                    </header>
    
                    <ul class="fb__sourceLayer__cont">
                        <li id="brandIndexer" class="fb__sourceLayer__box js__source__cont">
                            <iframe scrolling="no" title="" src="https://codepen.io/joannashin3/embed/xxdGjvP?defaultTab=js&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/xxdGjvP">
                                </a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="filter" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="600" style="width: 100%;" scrolling="no" title="filter 상세필터" src="https://codepen.io/joannashin3/embed/preview/MWmKbZJ?defaultTab=html" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/MWmKbZJ">
                                filter 상세필터</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                              </iframe>
                        </li>

                        <li id="fileReader" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="600" style="width: 100%;" scrolling="no" title="" src="https://codepen.io/joannashin3/embed/MWmoEEJ?default-tab=html&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/MWmoEEJ">
                                </a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="fileRotate" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="600" style="width: 100%;" scrolling="no" title="image Rotate and Download" src="https://codepen.io/joannashin3/embed/JjNByNR?default-tab=html&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/JjNByNR">
                                image Rotate and Download</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="searchKeyword" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="Search by Keyword" src="https://codepen.io/joannashin3/embed/xxdJLPE?default-tab=html&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/xxdJLPE">
                                Search by Keyword</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>
                        
                        <li id="youtubePlayer" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="youtube player API" src="https://codepen.io/joannashin3/embed/bGWjoNP?default-tab=html&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/bGWjoNP">
                                youtube player API</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="findAddress" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="전세계 주소 자동완성(loqate)" src="https://codepen.io/joannashin3/embed/preview/QWvyGPN?defaultTab=html" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/QWvyGPN">
                                전세계 주소 자동완성(loqate)</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="shoppingCart" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="shopping cart" src="https://codepen.io/joannashin3/embed/XWRBedR?default-tab=html&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/XWRBedR">
                                shopping cart</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="idValidation" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="id validation" src="https://codepen.io/joannashin3/embed/dyWjVXK?default-tab=html&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/dyWjVXK">
                                id validation</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>

                        <li id="buttonDesign" class="fb__sourceLayer__box js__source__cont">
                            <iframe height="300" style="width: 100%;" scrolling="no" title="CREATIVE BUTTON DESIGN CSS" src="https://codepen.io/joannashin3/embed/Exmpwqp?default-tab=js&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                                See the Pen <a href="https://codepen.io/joannashin3/pen/Exmpwqp">
                                CREATIVE BUTTON DESIGN CSS</a> by JieunShin (<a href="https://codepen.io/joannashin3">@joannashin3</a>)
                                on <a href="https://codepen.io">CodePen</a>.
                            </iframe>
                        </li>
                    </ul>
                </div>
            </article>

            <!-- 네비게이션 -->
            <aside id="js__navigation" class="fb__navigation js__layer">
                <header class="fb__navigation__top">
                    <h3 class="fb__navigation__title">Menus</h3>
                    <button class="fb__navigation__close js__layer__close">close</button>
                </header>
                <ul class="fb__navigation__cont">
                    <li class="fb__navigation__menu">
                        <a href="/" class="fb__navigation__link">
                            <span class="fb__navigation__name">Projects</span>
                        </a>
                    </li>

                    <li class="fb__navigation__menu">
                        <a href="/views/personal/personal.html" class="fb__navigation__link">
                            <span class="fb__navigation__name">Personal Project</span>
                        </a>
                    </li>

                    <li class="fb__navigation__menu">
                        <a href="/views/works/works.html" class="fb__navigation__link">
                            <span class="fb__navigation__name">Codepen</span>
                        </a>
                    </li>

                    <li class="fb__navigation__menu">
                        <a href="/views/contact/contact.html" class="fb__navigation__link">
                            <span class="fb__navigation__name">Contact</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </section>
    </body>
</html> 