.fb {
    &.scroll--lock {
        overflow: hidden;
    }
    
    &__title {
        color: #000;
        font-weight: bold;

        &--hidden {
            font-size: 0;
            line-height: 0;
        }
    }

    .blind {
        overflow: hidden !important;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        clip: rect(1px, 1px, 1px, 1px);
    }

    &__loading {
        display: none;
        position: fixed;
        top: 40%;
        left: 50%;
        z-index: 99;
        width: 1.5rem;
        height: 1.5rem;
        background: url(src("common", "loading.gif")) no-repeat 0 0 / 100% auto;
        font-size: 0;
        transform: translate(-50%, -50%);

        &.show {
            display: block;
        }
    }

    //결과 없는 경우
    &__empty {
        padding: rem(36px 0);
        text-align: center;

        &__text {
            @include fontcss($black, 200, rem(14px), rem(20px));    

            &:before {
                content: "";
                display: block;
                width: rem(48px);
                height: rem(48px);
                margin: rem(0 auto 12px);
                background: url("../images/svg/common/icon-empty.svg") no-repeat 0 0 / 100% auto;
            }
        }

        //검색단어
        &__word {
            display: block;
            @include fontcss($pcolor, 600, rem(14px), rem(20px));    
        }
    }

    &__swiper {
        &__bullets {
            font-size: 0;
            text-align: center;
    
            .swiper-pagination-bullet {
                width: rem(6px);
                height: rem(6px);
                margin: rem(0 4px);
                background: $silver;
    
                &-active {
                    background: $black;
                }
            }
        }
    }
}