@import "../../node_modules/swiper/dist/css/swiper.min.css";

//TEXT
$black: #1e1e1e;
$dark: #646464;
$medium: #a0a0a0;
$silver: #c8c8c8;
$white: #fff;

//LINE, BG, BORDER
$charcole: #323232; //차콜
$light: #eaeaea;
$bright: #f6f6f6;

//SYSTEM
$red: #ff2600;
$yellow: #fab200;
$green: #3ab505;

//POINT
$pcolor: #fbc967;
$dmilpcolor: #0489ff;

//FONT 국문
$font_noto: "SpoqaHanSansNeo", sans-serif;

//FONT 숫자, 영문
$font_n: $font_noto;

%clear {
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

%scroll {
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: rem(-5px);
    padding-bottom: rem(5px);
    white-space: nowrap;
    font-size: 0;

    &::-webkit-scrollbar {
        display: none;

        &-thumb {
            display: none;
        }

        &-button {
            display: none;
        }
    }
}

@mixin line($lineCount: 1) {
    /* 사용법 : @include line(라인수) */
    @if ($lineCount == 1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } @else {
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-line-clamp: $lineCount;
    }
}

@mixin wrapSect($type: "block", $padding: 0, $margin: -20px) {

    @if ($type == "block") {
        &:after {
            display: block;
            width: 100%;
            height: rem(6px);
            background: $bright;
            content: "";
        }
    }

    @else if ($type == "position") {
        position: relative;
        padding-bottom: rem(6px + $padding);

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(6px);
            background: $bright;
            content: "";
        }
    }

    @else if ($type == "margin") {
        &:after {
            display: block;
            height: rem(6px);
            margin: rem(0 $margin);
            background: $bright;
            content: "";
        }
    }
}

@mixin fontcss($color: $black, $weight: 200, $size: rem(14px), $lineheight: 1.2) {
    @if ($color) {
        color: $color;
    }
    @if ($weight) {
        font-weight: $weight;
    }
    @if ($size) {
        font-size: $size;
    }
    @if ($lineheight) {
        line-height: $lineheight;
    }
}

@function svgSrc($folder: 'guide', $filename: "") {
    @return  "../images/svg/#{$folder}/#{$filename}.svg";
}

@function src($folder: 'guide', $filename: "") {
    @return  "../images/#{$folder}/#{$filename}";
}

//구분선
@mixin division($color: #ccc, $space: rem(32px), $height: rem(18px)) {
    position: relative;
    padding-left: $space;

    &:before {
        position: absolute;
        top: 50%;
        left: calc(#{$space} / 2 - #{rem(2px)});
        width: rem(2px);
        height: $height;
        background: $color;
        transform: translate(0, -50%);
        content: "";
    }
}

@mixin imageResize($type: "width") {
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        
        @if ($type == "width") {
            width: 100%;
            height: auto;
        }
        @else if ($type == "height") {
            width: auto;
            height: 100%;
        }
        @else if ($type == "auto") {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}









/* 공통 */
@import "./divide/font.scss";

// 모바일
@media screen and (max-width: 750px) {
    @import "./divide/mobile/rem360/rem360.scss";
    @import "./divide/mobile/rem360/reset.scss";
    @import "./divide/mobile/rem360/common.scss";
}
// PC
@media screen and (min-width: 750px) {
    @import "./divide/pc/common.scss";
    @import "./divide/pc/reset.scss";
}




/* 페이지 */
// PC
@import "./divide/findAddress.scss";
@import "./divide/weather.scss";
@import "./divide/main.scss";
@import "./divide/pc/ktGigaSoundChart.scss";
@import "./divide/pc/contact.scss";



//모바일
@import "./divide/mobile/rem360/rem360.scss";
@import "./divide/mobile/rem360/brandIndexer.scss";
@import "./divide/mobile/rem360/searchKeyword.scss";
@import "./divide/mobile/rem360/filter.scss";
@import "./divide/mobile/rem360/fileReader.scss";




//수정필요
// @import "./divide/mobile/rem360/layout.scss";
// @import "./divide/olenz.scss";
